.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bg-image-wrapper {
    opacity: 0.1;
    background: url("/public/quick-fit-wallpaper.jfif");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

.euiEmptyPrompt__footer:has(.qf-footer) {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  background-color:  #FFF066;
  color: black;
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.euiPanel.day-card {
  background-color: #FFF066;
}

.euiPanel.night-card {
  background-color: #690e75;
  color: rgb(255, 255, 255);
}

.euiPanel.night-card .euiTitle {
  color: rgb(107, 106, 192);
}