.App {
  text-align: center;
}

.app-logo {
  pointer-events: none;
  background: url("/public/design.png");
  background-size: cover;
  background-position: center top;
  height: 320px;
  width: 320px;
  margin: auto;
  opacity: 0.5;
  z-index: -1;
}

.euiTitle.logo-subtext {
  margin-top: -100px;
  rotate: -20deg;
  z-index: 10;
  font-family: "LogoFont";
  font-size: 40px;
  color: rgb(238, 101, 215);
  font-weight: 100;
}

.bg-image-wrapper {
    opacity: 0.1;
    background: url("/public/quick-fit-wallpaper.jfif");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
}

.euiEmptyPrompt__footer:has(.qf-footer) {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  color: black;
  background: none;
  padding: 5px;
}

.euiEmptyPrompt__footer .euiIcon {
  padding-left: 5px;
}

.App-link {
  color: #61dafb;
}

.euiPanel.current-temp {
  background: none;
  box-shadow: none;
  margin-top: -50px;
  margin-bottom: 50px;
}

.euiPanel.day-card {
  background-color: #fff066d7;
  width: 80%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.euiPanel.night-card {
  background-color: #690e75d3;
  color: rgb(255, 255, 255);
  width: 80%;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.euiPanel.night-card .euiTitle {
  color: rgb(107, 106, 192);
}